* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 13px;
    overflow-x: hidden; /* tudo que ultrapassar a horizontal, será escondido */
}

/* HEADER */
header {
    height: 100px;
    background-color: #000;
    color: white;
}
.header {
    max-width: 1140px; /* Largura máxima do conteúdo */
    margin: auto;
    height: 100px;
    display: flex;
    align-items: center;
}
.logo {
    width: 100px;
}
.logoimg {
    width: 80px;
    height: 80px;
    background-color: #b28756;
    border-radius: 40px;
}
.menu {
    flex: 1; /* flex 1 para pegar todo o espaço disponível, já que a logo tem área fixa. */
    display: flex;
    justify-content: flex-end; /* menu alinhado da direita para a esquerda */
}
.menu ul,
.menu li {
    list-style: none;
}
.menu ul {
    display: flex;
}
.menu li a {
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    border-bottom: 5px solid #000
}
.menu li a:hover,
.menu .active a {
    border-bottom: 5px solid #b28756;
    color: #CCC;
}

/* BANNER */ 

.banner {
    height: calc(100vh - 100px); /* tirou os 100px do header */
    background-color: #333;
    background-image: url('../images/icones/bg.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    overflow: hidden;
}
.banner .sliders {
    width: 1000vw;
    height: 100%;
}
.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8); /* transparência */
}
.banner .slidearea {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFF;
}
.banner h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
}
.banner h1 span {
    color: #b28756;
}
.banner h2 {
    text-transform: uppercase;
    margin-top: 20px;
}
.button {
    display: inline-block;
    background-color: #b28756;
    color: #FFF;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    font-weight: 600;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 20px;
}
.banner .sliders-pointers {
    width: 100vw;
    height: 20px;
    position: absolute; /* Para aparecer na tela, ja que o banner tem overflow hidden */
    margin-top: -50px; /* Para entrar na área dos slides, e tirar a barra de rolagem */
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.banner .pointer.active {
    background-color: #b28756;
}

/* SECTION DEFAULT */ 
.default {
    padding-top: 50px;
    padding-bottom: 50px;
}
.default .section-title,
.default .section-desc {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.default .section-title {
    font-size: 20px;
}
.default .section-desc {
    font-size: 12px;
    color: #444;
    margin-top: 10px;
    margin-bottom: 40px;
}
.default .section-body {
    margin: auto;
    max-width: 1140px;
}

/* DEFAULT LIGHT */

.default.light {
    background-color: #f1f1f1;
}
.default.light .section-title,
.default.light .section-body {
    color: #000;
}


/* DEFAULT DARK */

.default.dark {
    background-color: #000;
}
.default.dark .section-title,
.default.dark .section-body {
    color: #fff;
}

/* CSS DE ÁREAS ESPECÍFICAS */ 

.section-aboutus {
    display: flex;
}
.section-aboutus--left {
    flex: 1;
}
.section-aboutus--left p {
    font-size: 14px;
    line-height: 25px;
}
.section-aboutus--right {
    width: 520px;
    text-align: center;
}
.section-aboutus--right img {
    width: 480px;
    box-shadow: 0px 5px 10px #333;
}

.section-services {
    display: flex;
}
.section-service {
    flex: 1;
    text-align: center;
    border-right: 1px solid #333;
    padding: 15px;
}
.section-service:first-child { /* aplicar a borda no primeiro item */
    border-left: 1px solid #333;
}
.section-service h4 {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
}
.section-service p {
    margin-top: 10px;
    font-size: 13px;
    color: #999;
}

/* PROJECTS */

.section-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-projects-filters {
    border: 1px solid #CCC;
    background-color: #eee;
    border-radius: 30px;
    display: inline-block;
    padding: 0px 20px;
}
.section-projects-filters ul,
.section-projects-filters li {
    list-style: none;
}
.section-projects-filters li {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid #CCC;
    color: #555;
    border-bottom: 3px solid #EEE;
    cursor: pointer;
}
.section-projects-filters li:hover,
.section-projects-filters li.active {
    border-bottom: 3px solid #b28756;
}
.section-projects-filters li:first-child {
    border-left: 0;
}

/* PROJECT PHOTOS */

.section-projects-photos {
    width: 100vw; /* PARA DISPOSITIVOS MÓVEIS */
    max-width: 1140px; /* PARA MONITORES */
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap; /* QUEBRA DE LINHAS */
    justify-content: center;
}
.section-projects-photo {
    width: 280px;
}
.section-projects-photoarea {
    margin: 10px;
    width: 260px;
    height: 160px;
}
.section-projects-photoarea img {
   width: inherit; /* herdou do item anterior */
   height: inherit;
}
.section-projects-photoinfo {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: inherit;
    display: none; /* SUMIR, E SO APARECER QUANDO PASSAR O MOUSE */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
}
.section-projects-photoinfo h5 {
    font-size: 18px;
    font-weight: 600;
}
.section-projects-photoarea:hover .section-projects-photoinfo { /* APARECER O PHOTOINFO AO PASSAR O MOUSE NA FOTO*/
    display: flex;
}

/* TEAM  */ 

.bg-team {
    background-image: url(../images/icones/bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 0;
}
.section-team-area {
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 50px;
    padding-bottom: 50px;
}
.section-team {
    overflow: hidden; /* remover a área desperdiçada */
    max-width: 880px;
    margin: auto;
}
.section-team-area .sliders {
    width: 1000vw;
    height: 100%;
}
.section-team-area .slide {
    width: 280px;
    height: 100%;
    display: inline-block;
    background-color: #FFF;
    margin-right: 20px;
}
.section-team .slidearea {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #000;
    padding: 30px;
}
.section-team-area .sliders-pointers {
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-team-area .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.section-team-area .pointer.active {
    background-color: #b28756;
}

/* CO-WORKERS */

.section-team-avatar {
    width: 150px ;
    height: auto;
}
.section-team-name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    margin-top: 30px;
}
.section-team-role {
    font-size: 14px;
    color: #999;
    margin-top: 5px;
}
.section-team-social {
    display: flex;
    margin-top: 20px;
}
.section-team-social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #CCC;
    border-radius: 13px;
    margin-right: 10px;
}
.section-team-social a:hover {
    background-color: #b28756;
}
 /* HAPPY CLIENTS */ 

 .section-client-avatar {
    width: 150px ;
    height: auto;
}
.section-client-name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    margin-top: 30px;
}
.section-client-role {
    font-size: 14px;
    color: #000;
    margin-top: 5px;
    font-weight: 600;
}
.section-clients {
    overflow: hidden; /* remover a área desperdiçada */
    max-width: 880px;
    margin: auto;
}
.section-client-area .sliders {
    width: 1000vw;
    height: 100%;
}
.section-client-area .slide {
    width: 280px;
    height: 100%;
    display: inline-block;
    background-color: #FFF;
    margin-right: 20px;
}
.section-clients .slidearea {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #000;
    padding: 30px;
}
.section-client-text {
    flex: 1;
}
.section-client-text p {
    font-size: 14px;
    line-height: 25px;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
}
  .section-clients-area .sliders-pointers {
    width: 100vw;
    height: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-clients-area .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.section-clients-area .pointer.active {
    background-color: #b28756;
} 
.section-all-clients .all-clients {
    align-items: center;
    justify-content: space-around;
    display: flex;
    height: 150px;
    border-bottom: 1px solid #999;
    border-top: 1px solid #999;
}

 /* PRICE */

 .section-prices-area {
    background-color: #f1f1f1;
}
.section-prices {
    overflow: hidden; /* remover a área desperdiçada */
    margin: auto;
}
.section-prices-area .sliders {
    height: 100%;
    display: flex;
    justify-content: center;
}
.section-prices-area .slide {
    width: 280px;
    height: 100%;
    display: inline-block;
    background-color: #FFF;
    margin: 0 10px;
    max-width: 200px;
}
.section-prices-area .slidearea {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #000;
    padding: 30px;
    font-weight: 600;
}
.section-real-price {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    margin-top: 15px;
}
.section-price-month {
    font-size: 14px;
    color: #999;
    margin-top: 5px;
}
.section-price-desc {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: normal;
    display: flex;
    margin-top: 20px;
}
.section-price-desc p {
    text-align: center;
    margin-bottom: 10px;
    position: relative;
    padding-bottom: 10px;
}
.section-price-desc p::after {
    position: absolute;
    content: '';
    width: 10px;
    height: 1px;
    background-color: black;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%)
}
.section-price-desc p:last-child::after {
    background-color: transparent;
}

.button-price {
    display: inline-block;
    background-color: #000;
    color: #FFF;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 20px;
    transition: 0.2s;
}
.button-price:hover {
    background-color: #b28756;
}
.button-price a {
    text-decoration: none;
    color: #FFF;
}

/* PREMIUM */

.default-premium .section-body {
    display: flex;
    justify-content: space-between;
    max-width: 850px;
    margin: auto;
    border-bottom: 1px solid #bdbbbb;
    margin-bottom: 50px;
    padding-bottom: 50px;
}
.feature-block {
    display: flex;
    gap: 25px;
}
.default-premium .section-premium-photo {
    display: flex;
    justify-content: center;
}
.default-premium .section-premium-photo img{
    display: flex;
    justify-content: center;
    width: 300px;
}
.default-premium .section-premium-features {
    flex-direction: column;
    width: 50%;
}
.section-premium-features p {
    color: #999;
    line-height: 20px;
    margin-bottom: 10px;
}
.default-premium .section-title,
.default-premium .section-desc {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.default-premium .section-title {
    font-size: 20px;
}
.default-premium .section-desc {
    font-size: 12px;
    color: #444;
    margin-top: 10px;
    margin-bottom: 40px;
}
.default-premium {
    background-color: #FFF;
    padding-top: 20px;
}
.default-premium .sliders-pointers {
    margin: auto;
    height: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.default-premium .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.default-premium .pointer.active {
    background-color: #b28756;
}
.button-premium {
    display: flex;
    margin: 30px 0;
}
.button-premium a {
    text-decoration: none;
    color: #FFF;
}
.button-premium-button {
    background-color: #b28756;
    color: #FFF;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 20px;
    margin: auto;
}